.CancelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 100%;
    border: 1px solid black;
}

.CancelContainer>h1 {
    font-family: "Spoof";
    font-size: 6em;
    font-weight: 100;
    margin-bottom: 5vh;

}

.CancelContainer>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-top: 0;
    border: 1px solid black;

}

.CancelContainer>h1 {
    color: black;
}