.Active.MuiButton-root {
    width: 28vw;
    height: 9VW;
    background-color: #ff7864;
    font-size: 25px;
    font-weight: bold;
    font-family: "Open sans";
    text-transform: capitalize;
}

.Active.MuiButton-root:hover {
    background: #f74024;
}

.Active.MuiButton-root:disabled {
    color: white;
}