.container {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/BackgroundFood.png');
  background-color: rgba(254, 71, 48, 1);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .buttonRestaurant {
  background-color: gray;
  color: black;
  width: 50%;
  pointer-events: none;
}

.container .buttonRestaurant.active {
  background-color: white;
  color: black;
  width: 50%;
  pointer-events: initial;
}

.container .buttonRestaurant.active:hover {
  background-color: rgb(213, 180, 180);
  cursor: pointer;
  color: black;
}

.container .welcome {
  text-align: center;
  transition: all 0.5s;
  flex-direction: column;
  margin-top: 5%;
}

.container .welcome h1 {
  padding: 4%;
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
  padding-bottom: 5%;
}

.container .welcome h2 {
  padding-top: 4%;
  font-size: 1.3em;
  line-height: 1.1;
  color: #000000;
  padding-bottom: 2%;
}

.container .timer {
  display: flex;
  justify-content: center;
}

.container .box {
  background-color: rgba(255, 255, 255, 0.1);
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  padding: 25px;
  font-weight: 300;
  width: 10%;
  display: table;
}

.container .box p {
  font-size: 30px;
  margin: 0;
}

.container .welcome img {
  height: 250px;
  width: 250px;
  object-fit: scale-down;
}

.container .welcome img.inactive {
  animation: zoom-out 1.5s ease;
  transform: scale(0.5);
}

.container .welcome img.active {
  animation: zoom-in 1.5s ease;
  transform: scale(1);
}

@keyframes zoom-in {
  0% {
    transform: scale(0.5);
    opacity: 0%;
  }

  45% {
    opacity: 100%;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }

  55% {
    opacity: 100%;
  }

  100% {
    transform: scale(0.5);
    opacity: 0%;
  }
}
