.container {
  width: 100vw;
  min-height: 100vh;
  background-image: url('../../assets/BackgroundFood.png');
  background-color: #fe4730;
}

.buttonRestaurant:active {
  background-color: #fe4730;
}

.buttonRestaurant {
  background-color: #fff !important;
  color: #000 !important;
  width: 50% !important;
}

.buttonRestaurant:hover {
  background-color: rgb(213, 180, 180) !important;
  color: #000 !important;
}

.welcome {
  text-align: center;
  transition: all 0.5s;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #fff;
}

h2 {
  padding-top: 4% !important;
  font-size: 1.3em;
  line-height: 1.1;
  color: #000;
}
